@import "reset";

$main: #1c252c;
$background: #6C7A89;
$box1: #446CB3;
$box2: #F03434;
$shadow: #192128;
$font: helvetica;
$background1: #313b44;
$background2: #21282f;

@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

/* body{
	background-color: $background;
	//background: linear-gradient(to right, $background1, $background2);
	font-family: $font;
	width: 90%;
	margin: auto;
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
	color: white;
}

h2{
	@extend h1;
	font-size: 30px;
}

.container{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

	div{
		//border: 1px solid black;
		width: 40%;
		padding: 20px;
		background: $box1;
  		color: white;
  		box-shadow: 0px 0px 20px 0px $shadow;
	}

	.stats{
		background-image: -webkit-linear-gradient(85deg, $main 70%, $box1 10%);
	}

	.budget{
		background-image: -webkit-linear-gradient(85deg, $main 70%, $box2 10%);
	}
} */

body{
	font-family: $font;
}

ul{
	li{
		font-size: 20px;
		margin-bottom: 5px;
	}
}

.box{
	
}

#stats{
	text-align: center;
}

.pentagon{
	margin: auto;
  	justify-content: center;
  	margin-top: 30px;
}

.box{
	display: flex;

	table{
		color: white;
		font-size: 20px;
		margin: auto;
		justify-content: center;
		width: 500px;

		button{
			border-radius: 0;
		}

		td{
			vertical-align: middle;
		}

		.numbers, .buttons{
			text-align: center;
		}
	}

	#submit{
		margin: auto;
	}
}

.container{
	margin-top: 50px;
}

.center{
	text-align: center;
}

.progress{
	height: 50px;
	background-color: black;
	font-size: 30px;
	font-weight: bold;
	font-family: helvetica;
	margin-left: 5px;

	.progress-bar{
		span{
			display: inline;
		}
	}
}